<div class="jumbotron">
	<h1>About Us</h1>
	<p>We are working on our One Month Rails Pinteresting App</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatibus, eum odit doloribus quibusdam asperiores possimus ullam fugiat a excepturi ea laborum cupiditate iste quam! Nisi quas hic tempore, fugiat!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, aperiam aliquid delectus magni, tenetur consectetur. Vero quia atque pariatur, animi in porro nemo neque nobis labore eos quas asperiores accusamus.</p>
	<p>Mollitia ea facilis incidunt, voluptates fuga reiciendis. Ipsa, aspernatur voluptate libero architecto magnam at nesciunt deleniti quasi omnis repellendus labore, ut aperiam maxime assumenda exercitationem recusandae voluptatem laudantium inventore non?</p>
	<p>Nobis repellendus vel ab, possimus veritatis necessitatibus, eveniet veniam, ipsam aperiam, aliquid molestias delectus suscipit at quod ullam obcaecati? Ea aliquam omnis, laborum odio quaerat cupiditate magnam nostrum, earum quas!</p>
</div>